/***********************************大于1000*************************************/
@media screen and (min-width:1001px) {
.content aside a:nth-of-type(7){border-bottom: 3px solid #ff942d; background: url(../img/left_link_17.jpg) no-repeat 20px center;}

.content aside a:hover{border-bottom: 3px solid #ff942d;}

.content aside a:nth-of-type(1){background: url(../img/left_link_02.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(2){background: url(../img/left_link_06.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(3){background: url(../img/left_link_08.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(4){background: url(../img/left_link_10.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(5){background: url(../img/left_link_12.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(6){background: url(../img/left_link_14.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(8){background: url(../img/left_link_18.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(9){background: url(../img/left_link_20.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(1):hover{background: url(../img/left_link_03.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(2):hover{background: url(../img/left_link_07.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(3):hover{background: url(../img/left_link_09.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(4):hover{background: url(../img/left_link_11.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(5):hover{background: url(../img/left_link_13.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(6):hover{background: url(../img/left_link_15.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(8):hover{background: url(../img/left_link_19.jpg) no-repeat 20px center;}
.content aside a:nth-of-type(9):hover{background: url(../img/left_link_21.jpg) no-repeat 20px center;}


.content article{float: left; width: 65.9%; padding-left: 4.5%; padding-right: 1.5%; padding-bottom: 135px;}
.content article h2{font-size: 18px; line-height: 18px; color: #fa9634;}
.content article h2:nth-of-type(2){margin-top: 8px;}
.content article h2:nth-of-type(3){margin-top: 7px;}
.content article h2:nth-of-type(4){margin-top: 8px;}
.content article p{line-height: 30px; font-size: 16px; color: #222222; padding-top: 7px;}
.content article img{width: 100%; display: block; padding-top: 23px; padding-bottom: 35px;}
.content article img:last-of-type{padding-top: 23px; padding-bottom: 34px;}
}


/***********************************720-1000*************************************/
@media screen and (min-width:720px) and (max-width:1000px) {
.content aside a:nth-of-type(7){border-bottom: 3px solid #ff942d; background: url(../img/left_link_17.jpg) no-repeat 5px center;}

.content aside a:hover{border-bottom: 3px solid #ff942d;}

.content aside a:nth-of-type(1){background: url(../img/left_link_02.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(2){background: url(../img/left_link_06.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(3){background: url(../img/left_link_08.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(4){background: url(../img/left_link_10.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(5){background: url(../img/left_link_12.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(6){background: url(../img/left_link_14.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(8){background: url(../img/left_link_18.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(9){background: url(../img/left_link_20.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(1):hover{background: url(../img/left_link_03.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(2):hover{background: url(../img/left_link_07.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(3):hover{background: url(../img/left_link_09.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(4):hover{background: url(../img/left_link_11.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(5):hover{background: url(../img/left_link_13.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(6):hover{background: url(../img/left_link_15.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(8):hover{background: url(../img/left_link_19.jpg) no-repeat 5px center;}
.content aside a:nth-of-type(9):hover{background: url(../img/left_link_21.jpg) no-repeat 5px center;}



.content article{float: left; width: 65%; padding-left: 2.5%; padding-right: 2%;}
.content article h2{font-size: 18px; line-height: 18px; color: #fa9634; margin-top: 8px;}
.content article h2:first-of-type{margin-top: 0;}
.content article p{line-height: 29px; font-size: 16px; color: #222222; padding-top: 7px;}
.content article img{width: 100%; padding-top: 13px; padding-bottom: 8px;}
}

/***********************************480-720*************************************/
@media screen and (min-width:480px) and (max-width:719px) {
.content aside a:nth-of-type(1){background: url(../img/left_link_02.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(2){background: url(../img/left_link_06.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(3){background: url(../img/left_link_08.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(4){background: url(../img/left_link_10.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(5){background: url(../img/left_link_12.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(6){background: url(../img/left_link_14.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(7){background: url(../img/left_link_17.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(8){background: url(../img/left_link_18.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(9){background: url(../img/left_link_20.jpg) no-repeat center 20px;}


.content article{float: left; width: 100%; font-size: 16px;}
.content article h2{font-size: 18px; color: #fa9634; padding-bottom: 7px; padding-top: 5px;}
.content article p{line-height: 28px; font-size: 16px; padding-bottom: 4px;}
.content article img{width: 100%;}
}
/***********************************小于480*************************************/
@media screen and (max-width:479px) {
.content aside a:nth-of-type(1){background: url(../img/left_link_02.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(2){background: url(../img/left_link_06.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(3){background: url(../img/left_link_08.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(4){background: url(../img/left_link_10.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(5){background: url(../img/left_link_12.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(6){background: url(../img/left_link_14.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(7){background: url(../img/left_link_17.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(8){background: url(../img/left_link_18.jpg) no-repeat center 20px;}
.content aside a:nth-of-type(9){background: url(../img/left_link_20.jpg) no-repeat center 20px;}

.content article{float: left; width: 100%; font-size: 16px;}
.content article h2{font-size: 18px; color: #fa9634; padding-bottom: 7px; padding-top: 5px;}
.content article p{line-height: 28px; font-size: 16px; padding-bottom: 4px;}
.content article img{width: 100%;}
}